@if (OAuthWebSecurity.RegisteredClientData.Count == 0) {
    <div class="message-info">
        <p>
            Nie skonfigurowano żadnych zewnętrznych usług uwierzytelniania. Zapoznaj się z <a href="https://go.microsoft.com/fwlink/?LinkId=226949">tym artykułem</a>,
            aby uzyskać szczegółowe informacje dotyczące konfigurowania tej aplikacji ASP.NET w celu obsługi logowania za pomocą usług zewnętrznych.
        </p>
    </div>
} else {
    <form method="post">
    @AntiForgery.GetHtml()
    <fieldset id="socialLoginList">
        <legend>Zaloguj przy użyciu innej usługi</legend>
        <p>
            @foreach (var client in OAuthWebSecurity.RegisteredClientData) {
                <button type="submit" name="provider" value="@client.AuthenticationClient.ProviderName"
                        title="Zaloguj przy użyciu konta @client.DisplayName">@client.DisplayName</button>
            }
        </p>
    </fieldset>
    </form>
}
