@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Konto zablokowane";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Konto zostało zablokowane z powodu zbyt wielu prób zalogowania się zakończonych niepowodzeniem.</h2>
</hgroup>

<p>
    Nie martw się, konto zostanie automatycznie odblokowane za 60 sekund. 
    Spróbuj ponownie po upływie tego czasu.
</p>